:root {
  // sizes
  --container-width: 1200px;
  --header-height: 74px;

  // marings, paddings, gaps
  --list-gap: 20px;

  // colors
  --c-primary: #ff4b5f;
  --c-secondary: #003791;
  --c-background: linear-gradient(-45deg, rgba(0, 55, 145, 0.05) 0%, rgba(255, 75, 95, 0.05) 100%);
  --c-foreground: #fff;

  //z-index
  --z-header: 100;
  --z-main: 90;
}